<form action="infocadastro" method="post">
    <p>Nome do Jogador:</p>
    <input type="text" name="nome">
    <p>Idade</p>
    <input type="text" name="idade">
    <p>Posição</p>
    <input type="text" name="posicao">
    <button type="submit">Cadastrar Jogador</button>
</form>