<form action="modificar" method="post">
    <p>Nome do Jogador:</p>
    <input type="text" name="nome">
    <p>Idade</p>
    <input type="text" name="idade">
    <p>Posição</p>
    <input type="text" name="posicao">
    <a href="/salvar/{{id}}"><button type="submit">Salvar</button></a>
</form>